
.archived {
    border-color: #ccc !important;
}


.site-main {
    .current-list {
        list-style-type: none;

        .list-item {
            position: relative;
            background: $primary-color-text;
            color: $primary-text-color;
            text-align: left;
            border-radius: 5px;
            border-left: 10px solid transparent;
            cursor: pointer;
            box-shadow: 1px -1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);

            .item-header {
                font-weight: bold;
            }

            .item-info {
                display: block;
                height: 70px;
                width: 100%;
                padding: 1rem;
                font-weight: bold;
                font-size: 1.2rem;
            }
            
            .item-button {
                padding: 0.5rem;
                background: $divider-color;
                color: $primary-color-text;
                font-size: 1.6rem;
                display: block;
                outline: none;
                border-radius: 5px;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                transition: 0.1s ease-in all;
                cursor: pointer;

                &:hover {
                    background: $secondary-text-color;
                    color: lightgreen;
                    transition: 0.2s ease-in all;
                    transform: scale(1.05);
                }
            }

            .remove-button {
                position: absolute;
                top: 0.6rem;
                right: 0.6rem;
                appearance: none;
                border: none;
                outline: none;
                border-radius: 5px;
                background: #fff;
                color: #f44336;
                font-size: 1.6rem;
                cursor: pointer;
                padding: 0.5rem;
                font-weight: bold;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

}

@include for-phone-only {

    .site-main {
        margin: 0;
        min-height: 90vh;
        .current-list {
            transition: 0.3s all linear;
            margin: 0;
            padding: 0;
            display: block;
            min-width: 320px;
            text-align: center;

            .list-item {
                margin: 1.6rem 1.2rem;
                padding: 1rem;
                display: block;
                min-width: 260px;
                height: auto;
                overflow: auto;
                transition: 0.3s all linear;

                .item-button {
                    float: right;
                }
            }
        }
        .current-list:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
}


@include for-desktop-up {

    .site-main {

        .current-list {
            margin: 4rem 2rem;
            background: transparent;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            padding: 0;
            list-style-type: none;

            .list-item {
                background: $primary-color-text;
                color: $primary-text-color;
                margin: 1rem;
                padding: 1rem;
                display: block;
                text-align: left;
                border-radius: 5px;
                border-left: 10px solid transparent;
                cursor: pointer;
                //box-shadow: 1px -1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);

                .item-header {
                    font-weight: bold;
                }

                .item-info {
                    display: block;
                    height: 70px;
                    width: 100%;
                    float: left;
                    padding: 1rem;
                }

                .item-button {
                    padding: 0.5rem;
                    float: right;
                    background: $divider-color;
                    color: $primary-color-text;
                    font-size: 1.6rem;
                    display: block;
                    outline: none;
                    border-radius: 5px;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    transition: 0.1s ease-in all;
                    cursor: pointer;

                    &:hover {
                        background: $secondary-text-color;
                        color: lightgreen;
                        transition: 0.2s ease-in all;
                        transform: scale(1.05);
                    }
                }
            }
        }

    }
}